<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
    <div th:class="container-lg">
        <form action="/user/change-password" th:object="${form}" method="post">
            <div class="container-lg">

                <!--글로벌 에러 생성-->
                <div class="is-valid">
                    <div th:if="${#fields.hasGlobalErrors()}"><span class="is-valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</span></div>
                    <!--요청 검증 에러-->
                    <div th:errors="${form.userId}"></div>
                    <div th:errors="${form.email}"></div>
                    <div th:errors="${form.newPassword}"></div>
                    <div th:errors="${form.oldPassword}"></div>
                </div>

                <!-- 비밀번호 변경 완료 알림 -->
                <div style="color: dodgerblue; font-size: 20px" th:text="${changePasswordSuccess}"></div>

                <!--아이디-->
                <div class="mb-3 row">
                    <label for="inputUserId" class="col-sm-2 col-form-label">🪪 아이디:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUserId" name="text" placeholder="todayFlower" th:field="${form.userId}">
                    </div>
                </div>

                <!-- 이메일 -->
                <div class="mb-3 row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">📧 이메일:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="name@example.com" th:field="${form.email}">
                    </div>
                </div>

                <!-- 기존 비밀번호 -->
                <div class="mb-3 row">
                    <label for="oldPassword" class="col-sm-2 col-form-label">🗝️ 기존 비밀번호:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" th:field="${form.oldPassword}">
                    </div>
                </div>

                <!-- 변경 비밀번호 -->
                <div class="mb-3 row">
                    <label for="newPassword" class="col-sm-2 col-form-label">🔑 새로운 비밀번호:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" th:field="${form.newPassword}">
                    </div>
                </div>

                <!--변경완료 버튼-->
                <div class="mb-3 row">
                    <div class="col">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="submit" class="btn float-end btn-warning" value="변경 완료"></input>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
</html>