<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
    <form th:object="${form}" method="post">
      <div class="container-lg">

            <!--글로벌 에러 생성-->
            <div class="is-valid">
              <div th:if="${#fields.hasGlobalErrors()}"><span class="is-valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</span></div>
              <!--요청 검증 에러-->
              <div th:errors="${form.userId}"></div>
              <div th:errors="${form.email}"></div>
            </div>

          <!-- 임시 비밀번호 메일전송 성공 알림 -->
            <div style="color: dodgerblue; font-size: 20px" th:text="${sendEmailSuccess}"></div>

          <div style="margin-bottom: 30px">
            <span style="font-size: 30px">📧 이메일로 임시 비밀번호를 🚀 전송 합니다.</span>
          </div>
            <!--아이디-->
            <div class="mb-3 row">
              <label for="inputUserId" class="col-sm-2 col-form-label">🪪 아이디:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUserId" name="text" placeholder="todayFlower" th:field="${form.userId}">
              </div>
            </div>

            <!-- 이메일 -->
            <div class="mb-3 row">
              <label for="inputEmail" class="col-sm-2 col-form-label">📧 이메일:</label>
              <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" name="email" placeholder="name@example.com" th:field="${form.email}">
              </div>
            </div>

          <!--임시 비밀번호 전송-->
            <div class="mb-3 row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" formaction="/user/send-email">
                  <input type="submit" class="btn float-end btn-warning" formaction="/user/send-email" value="임시 비밀번호 전송"></input>
                </div>
            </div>

      </div>
    </form>
</div>
</html>