<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
  <div class="container">

        <!--아이디-->
        <div class="mb-3 row">
          <label for="staticUserId" class="col-sm-2 col-form-label">🪪 아이디:</label>
          <div class="col-sm-10">
            <span type="text" readonly class="form-control-plaintext" id="staticUserId" th:text="${form.userId}"></span>
          </div>
        </div>

        <!--이메일-->
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">📧 이메일:</label>
          <div class="col-sm-10">
            <span type="text" readonly class="form-control-plaintext" id="staticEmail" th:text="${form.email}"></span>
          </div>
        </div>

        <!-- 좋아요 누른 꽃 -->
            <a href="/flower/like-list" style="text-decoration: none; color: black">
                <div class="mb-3 row">
              <label for="staticLikeCount" class="col-sm-2 col-form-label">❤️ 좋아한 꽃:</label>
              <div class="col-sm-10">
                  <span type="text" readonly class="form-control-plaintext" id="staticLikeCount" th:text="${form.likeCount}"></span>
              </div>
                </div>
            </a>

        <!--방문 횟수-->
        <div class="mb-3 row">
          <label for="staticHits" class="col-sm-2 col-form-label">👀 방문 횟수:</label>
          <div class="col-sm-10">
            <span type="text" readonly class="form-control-plaintext" id="staticHits" th:text="${form.hits}"></span>
          </div>
        </div>

        <!--가입일시-->
        <div class="mb-3 row">
          <label for="staticJoinDate" class="col-sm-2 col-form-label">💘 첫 만남:</label>
          <div class="col-sm-10">
            <span type="text" readonly class="form-control-plaintext" id="staticJoinDate" th:text="${form.joinDate}"></span>
          </div>
        </div>

        <div class="row">
            <form action="/user/withdrawal" method="post">
                <div class="mt-5 mb-3 row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-success" th:onclick="|location.href='@{/user/change-password}'|">
                            비밀번호 변경
                        </button>
                        <!--회원 탈퇴-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            오늘의 꽃 탈퇴
                        </button>
                    </div>
                </div>

                <!-- Modal 시작 -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">오늘의 꽃 탈퇴 확인</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                안녕하세요. <br />
                                <strong>오늘의 꽃</strong> 입니다. <br />
                                우리 이대로 헤어지는건가요...? 😿<br /><br />
                                다시 한 번 생각해보세요..! 🥺
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">넹!</button>
                                <input type="hidden" th:field="${form.userId}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">다시 생각해볼게..!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal 종료 -->
            </form>
         </div>
  </div>
</div>
</html>