<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<footer th:fragment="footerFragment">
  <div class="container-lg">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2023 Dev: howisitgoing</p>

      <a href="https://first-parakeet-792.notion.site/1738d950a1ba45fb9d7510964c9e6a05" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="/image/flower_adobe_express.svg" class="bi me-2" width="46" height="38" alt="오늘의 꽃2 SVG"></img>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="mailto:howisitgoing@kakao.com" class="nav-link px-2 text-muted">Email</a></li>
        <li class="nav-item"><a href="https://github.com/ssosee/today-flowers" class="nav-link px-2 text-muted">Github</a></li>
        <li class="nav-item"><a href="https://howisitgo1ng.tistory.com/" class="nav-link px-2 text-muted">Blog</a></li>
        <li class="nav-item"><a href="https://first-parakeet-792.notion.site/1738d950a1ba45fb9d7510964c9e6a05" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </div>
  </div>
</footer>
</html>