<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<header th:fragment="headerFragment">
    <div class="container">
        <form action="/logout-process" method="post">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="/image/lavender_adobe_express.svg" class="bi me-2" width="46" height="38" alt="오늘의 꽃 SVG"></img>
                    <span class="todayFlowerTitle">오늘의 꽃</span>
                </a>
                <!--헤더 네비-->
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/today-flower/today" class="nav-link px-2 link-dark">🪻 오늘의 꽃</a></li>
                    <li><a href="/today-flower/birth" class="nav-link px-2 link-dark">🎂 생일의 꽃</a></li>
                    <li><a href="/today-flower/lang-list" class="nav-link px-2 link-dark">🐴 꽃말의 꽃</a></li>
                    <li><a href="/today-flower/name-list" class="nav-link px-2 link-dark">📛 이름의 꽃</a></li>
                    <li><a href="/today-flower/like-rank-list" class="nav-link px-2 link-dark">❤️ 좋아요 랭킹</a></li>
                </ul>
                <!--헤더 버튼-->
                <div class="col-md-3 text-end">
                    <div class="pb-1">
                        <button type="submit" class="btn btn-outline-primary mb-1" style="width: 115px" sec:authorize="!isAuthenticated()">로그인</button>
                        <button type="submit" class="btn btn-outline-primary mb-1" style="width: 115px" sec:authorize="isAuthenticated()">로그아웃</button>
                        <button type="button" class="btn btn-outline-primary mb-1" style="width: 115px" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/user/mypage}'|">내 정보</button>
                        <button type="button" class="btn btn-outline-info mb-1" style="width: 115px" sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/user/signup}'|">회원가입</button>
                    </div>
                    <div class="pb-1">
                        <button type="button" class="btn btn-outline-secondary mb-1" style="width: 115px" sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/user/find-userId}'|">아이디 찾기</button>
                        <button type="button" class="btn btn-outline-warning mb-1" style="width: 115px" sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/user/find-password}'|">비밀번호 찾기</button>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>

            </div>
        </form>
    </div>
</header>
</html>