<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
<form th:object="${form}">
  <div th:class="container">

    <!--글로벌 에러 생성-->
    <div class="is-valid">
      <div th:if="${#fields.hasGlobalErrors()}"><span class="is-valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</span></div>
      <div th:errors="${form.lang}"></div>
    </div>

    <div class="pt-3 px-4">
      <!-- 꽃말 -->
      <div class="mb-3 row">
          <label for="inputLang" class="col-sm-2 col-form-label">🐴 꽃말:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLang" name="search" placeholder="사랑" th:field="${form.lang}">
          </div>
      </div>

      <!-- 꽃말 전송-->
      <div class="mb-3 row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" formaction="/today-flower/lang-list" formmethod="post">
              <input type="submit" class="btn float-end btn-success" formaction="/today-flower/lang-list" formmethod="post" value="검색">
          </div>
      </div>
    </div>

    <!--카드 시작-->
    <div class="px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">😁 안녕하세요.<br>🐴 <strong class="todayFlowerTitle" style="font-size: 30px">꽃말의 꽃</strong>입니다.</h2>

      <!-- 꽃 목록 -->
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-5">
          <div th:each="fl, flStat : ${flowerList}" class="col pb-4">
              <a th:href="@{/today-flower/today/{param} (param=${fl.id})}" style="text-decoration: none">
                  <!--&quot;는 " 이다.-->
                  <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                  th:style="'background-image: url(&quot;' + ${fl.path} + '&quot;);'">

                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <!--꽃 이름-->
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-shadow:3px 3px 3px #000;">
                          꽃 이름은
                          <strong><span style="text-shadow:3px 3px 3px #000; font-size: 35px;" th:text="${fl.name}"></span></strong>
                        </h3><br />
                        <!--꽃말-->
                        <h4 style="text-shadow:3px 3px 3px #000;">
                            꽃말은
                            <strong><span style="text-shadow:3px 3px 3px #000; font-size: 26px;" th:text="${fl.lang}"></span></strong>
                        </h4>
                        <li class="d-flex align-items-center">
                          <small style="text-shadow:2px 2px 2px #000;" th:text="|❤️ 좋아요 ${fl.totalLike} 개|"></small>
                        </li>
                  </div>
              </div>
              </a>
          </div>
      </div>
    </div>
    <!-- 카드 끝 -->
    <!--페이지네이션 시작  -->
    <nav aria-label="Page navigation">
      <ul class="pb-4 pagination justify-content-center">
          <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
              <a class="page-link" th:href="@{/today-flower/lang-list(page=0)}">&laquo;</a>
          </li>
          <li th:each="page : ${#numbers.sequence(0, totalPages-1)}" th:class="${currentPage == page} ? 'page-item active' : 'page-item'">
              <a class="page-link" th:href="@{/today-flower/lang-list(page=${page})}" th:text="${page+1}"></a>
          </li>
          <li th:class="${currentPage == totalPages-1} ? 'page-item disabled' : 'page-item'">
              <a class="page-link" th:href="@{/today-flower/lang-list(page=${totalPages-1})}">&raquo;</a>
          </li>
      </ul>
    </nav>

  </div>
</form>
</div>
</html>