* { padding: 0; margin: 0; }

html, body {
    height: 100%;
    background: #ffffff;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginBox {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    margin-bottom: 7px;
}

.input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 93px;
}

.button-login-box {
    padding: 5px;
    /*margin: 10px 0;*/
}

#loginBoxTitle {
    color:#000000;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #2e2938, #b1a5c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#inputBox {
    margin: 10px;
}

#inputBox button {
    padding: 3px 5px;
}