<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
    <div layout:fragment="content">
        <div th:class="container">

            <div class="is-valid">
                <div th:if="${error}" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span th:text="${exception}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            home 입니다.
        </div>
    </div>
</html>