<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
  <div th:class="container-lg">
<!--    <form action="" th:action th:object="${form}" method="post">-->

      <div class="py-5 px-4">
      <!--꽃 이름-->
      <h2 class="pb-3 border-bottom">🤗 오늘의 꽃은 <strong class="todayFlowerName" th:text="${form.name}"></strong>입니다.<br />
        <strong th:text="${form.name}"></strong>의 꽃말은 <strong th:text="${form.flowerLang}"></strong> 입니다.
      </h2>

      <!-- 조회수 -->
      <div class="py-4 mb-3">
        <div th:text="|👀 조회수: ${form.hits}|"></div>
      </div>

      <!-- 캐러셀 이미지 -->
      <div id="carouselExampleIndicators" class="carousel slide w-78 mx-auto text-center py-4 pb-3" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="${form.photoPath[0]}" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="${form.photoPath[1]}" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="${form.photoPath[2]}" class="img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="py-4">
        <!-- 좋아요 버튼-->
        <div class="float-end">
          <button type="button" class="btn btn-outline-danger btn-like">
            <i class="bi bi-heart"></i>
          </button>
            <span name="flower_id" th:content="${form.flowerId}"></span>

            <script th:inline="javascript">
                    $(document).ready(function () {
                        $('.btn-like').click(function (e) {
                            e.preventDefault();
                            let flower_id = $('#flower_id');
                            let url = '/flower/like';
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");

                            $.ajax({
                                type: 'POST',
                                url: url,
                                data: {
                                    post_id: $("#flower_id"),
                                    like: $("#like")
                                },
                                success: function (response) {
                                    if (response['status'] == 'liked') {
                                        $('.btn-like[data-id=' + flower_id + ']').addClass('btn-liked');
                                        like = false;
                                    } else {
                                        $('.btn-like[data-id=' + flower_id + ']').removeClass('btn-liked');
                                        like = true;
                                    }
                                    $('.like-count[data-id=' + flower_id + ']').text(response['like_count']);
                                },
                                error: function (response) {
                                    console.log('error', response);
                                }
                            });
                        });
                    });
            </script>

        </div>
      </div>

      <!-- 전체 좋아요 수 -->
        <div class="py-4">
          <span class="float-end" th:text="|좋아요 ${form.totalLike}개|"></span>
        </div>

      <!-- 설명 -->
      <h2 class="pb-3 border-bottom">💬 이야기</h2>
      <div class="py-4 mb-3">
          <span th:text="${form.description}"></span>
      </div>

    </div>

<!--    </form>-->
  </div>
</div>
</html>