<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css"></th:block>
<div layout:fragment="content">
  <div th:class="container">

          <div class="py-5 px-4">
              <div class="is-valid" >
                  <div th:if="${error}" th:text="${error}"></div>
              </div>
              <div th:unless="${error}">
                  <!--꽃 이름-->
                  <h2 class="pb-3 border-bottom">🤗 오늘의 꽃은 <strong style="color: tomato; font-size: 29px" class="todayFlowerName" th:text="${form.name}"></strong>입니다.<br />
                      <strong style="color: tomato; font-size: 29px" th:text="${form.name}"></strong>의 꽃말은 <strong style="color: dodgerblue; font-size: 29px" th:text="${form.flowerLang}"></strong> 입니다.
                  </h2>

                  <!-- 조회수 -->
                  <div class="py-4 mb-1">
                      <div th:text="|👀 조회수: ${form.hits}|"></div>
                  </div>

                  <!-- 캐러셀 이미지 -->
                  <div id="carouselExampleIndicators" class="carousel slide mx-auto text-center py-4 pb-3" style="width: 80%" data-bs-ride="true" data-bs-touch="false">
                      <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner" style="border-radius: 5px">
                          <div class="carousel-item active">
                              <img th:src="${form.photoPath[0]}" class="img-fluid" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img th:src="${form.photoPath[1]}" class="img-fluid" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img th:src="${form.photoPath[2]}" class="img-fluid" alt="...">
                          </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  </div>

                  <div class="py-4">
                      <!-- 좋아요 버튼 비회원-->
                      <div class="float-end">
                          <button type="button" sec:authorize="!isAuthenticated()" class="btn btn-outline-danger btn-like" disabled
                                  th:data-flower-id="${form.flowerId}"
                                  th:data-like="${form.like}">
                            <span th:classappend="${form.like} ? 'bi bi-heart-fill' : 'bi bi-heart'">
                                <!-- 전체 좋아요 수 -->
                                <span class="float-end" th:text="|&nbsp;좋아요 ${form.totalLike}개|"></span>
                            </span>
                          </button>

                          <!-- 좋아요 버튼 회원-->
                          <button type="button" sec:authorize="isAuthenticated()" class="btn btn-outline-danger btn-like"
                                  th:data-flower-id="${form.flowerId}"
                                  th:data-like="${form.like}">
                            <span id="like-heart" th:classappend="${form.like} ? 'bi bi-heart-fill' : 'bi bi-heart'">
                                  <!-- 전체 좋아요 수 -->
                                  <span id="totalLikeSpan" class="float-end" th:text="|&nbsp;좋아요 ${form.totalLike}개|"></span>
                            </span>
                          </button>

                          <script>
                              $(document).ready(function() {
                                  // 좋아요 버튼 클릭 시
                                  $('.btn-like').on('click', function() {
                                      var btn = $(this);
                                      var flowerId = btn.data('flower-id');
                                      var like = btn.data('like');
                                      var header = $("meta[name='_csrf_header']").attr("content");
                                      var csrfToken = $("meta[name='_csrf']").attr("content"); // CSRF 토큰을 여기에서 가져옵니다.

                                      // Ajax 요청 전송
                                      $.ajax({
                                          type: "POST",
                                          async: true, //비동기 여부
                                          url: "/flower/like",
                                          dataType: "json",
                                          contentType: "application/json;charset=utf-8",
                                          // csrf 전송
                                          beforeSend: function (xhr) {
                                              xhr.setRequestHeader(header, csrfToken)
                                          },
                                          data: JSON.stringify({
                                              "like": like,
                                              "flower_id": flowerId
                                          }),
                                          success: function(response) {
                                              // 요청이 성공적으로 완료되면 버튼의 텍스트를 변경합니다.
                                              let resTotalLike = response.total_like_count;
                                              let resLike = response.like;

                                              $('#totalLikeSpan').html("&nbsp;좋아요 "+resTotalLike+"개");
                                              btn.data('like', resLike);

                                              if(resLike) {
                                                  $('#like-heart').removeClass('bi bi-heart').addClass('bi bi-heart-fill');
                                              } else {
                                                  $('#like-heart').removeClass('bi bi-heart-fill').addClass('bi bi-heart');
                                              }

                                          },
                                          error: function(jqXHR, textStatus, errorThrown) {
                                              console.log(textStatus, errorThrown);
                                          }
                                      });
                                  });
                              });
                          </script>

                      </div>
                  </div>

                  <div class="py-4 pb-3">
                      <a href="/user/signup" style="text-decoration: none; color: black">
                          <div sec:authorize="!isAuthenticated()" class="float-end">
                              <strong>👉 회원가입</strong><span>하고 ❤️ 좋아요 누르기</span>
                          </div>
                      </a>
                  </div>

                  <!-- 설명 -->
                  <h2 class="py-4 pb-3 border-bottom">💬 이야기</h2>
                  <div class="py-4 mb-3">
                      <span th:text="${form.description}"></span>
                  </div>

              </div>
          </div>
  </div>
</div>
</html>